body{
    background-color:#62726F;
    margin:0 auto;
    width: 300px;
}
.plekantwoord{
    width:300px;
    text-align:center;
    background-color:#896019;
    
}
.rondje {
    border:1px solid grey;
    background-color:white;
    border-radius: 50%;
    width:50px;
    height:50px;
    display:inline-block;
    margin-right:1px;
}
.rondje:hover {
    cursor: pointer;
}

.blokje{
    display:block;
    border:1px solid grey;
    height:12px;
    width:12px;
    margin-left:5px;
}
.blokje1{
    display:block;
    border:1px solid grey;
    height:12px;
    width:12px;
    margin-left:1px;
}
.keuze{
    width:350px;
    text-align:center;
}
.correctie{
    display:inline-block;
}
.invoer{
    display:inline-block;
}
.lcore{
    display:inline-block;
}
.rcore{
    display:inline-block;
}
.vierkant{
    display:inline-block;
    width:34px;
    height:28px;
}
.cirkel{
    display:inline-block;
}
.achtergrond{
    background-color:#896019;
    text-align: center;
}
#antwoord1{
    margin-left:30px;
}
.colorkeuze{
    position:absolute;
    background-color:#3F2F4D;
    width:200px;
    top:350px;
    right:300px;
}
.buttonrondje{
    width:30px;
    height:30px;
    border-radius:50%;
}
#red{
    background-color:red;
}
#blue{
    background-color:blue;
}
#green{
    background-color:green;
}
#white{
    background-color:white;
}
#black{
    background-color:black;
}
#yellow{
    background-color:yellow;
}