body{
    background-color:#62726F;
    margin:0 auto;
    width: 400px;
}
.plekantwoord{
    width:270px;
    text-align:center;
}
.rondje {
    border:1px solid grey;
    background-color:white;
    border-radius: 50%;
    width:50px;
    height:50px;
    display:inline-block;
    margin-right:5px;
}
.blokje{
    display:block;
    border:1px solid grey;
    height:12px;
    width:12px;
    margin-left:1px;
}
.blokje1{
    display:block;
    border:1px solid grey;
    height:12px;
    width:12px;
    margin-left: 1px;
}
.keuze{
    width:350px;
    background-color:#896019;
    text-align:center;
}
.correctie{
    display:inline-block;
}
.invoer{
    display:inline-block;
}
.lcore{
    display:inline-block;
}
.rcore{
    display:inline-block;
}
#correctie1r1{
    display:block;
    border:1px solid grey;
    height:12px;
    width:12px;
    margin-bottom:3px;
}
#correctie2r1{
    display:block;
    border:1px solid grey;
    height:12px;
    width:12px;
    margin-bottom:3px;
}
#correctie3r1{
    display:block;
    border:1px solid grey;
    height:12px;
    width:12px;
}
#correctie4r1{
    display:block;
    border:1px solid grey;
    height:12px;
    width:12px;
}
.vierkant{
    display:inline-block;
    width:34px;
    height:28px;
    
}
.cirkel{
    display:inline-block;
}