body{
    background-color:#62726F;
    margin:0 auto;
    width: 300px;
}
.plekantwoord{
    width:300px;
    text-align:center;
    background-color:#896019;
    
}
.rondje {
    border:1px solid grey;
    background-color:lavender;
    border-radius: 50%;
    width:50px;
    height:50px;
    display:inline-block;
    margin-right:1px;
}
.rondje:hover {
    cursor: pointer;
}
.blokje{
    display:block;
    border:1px solid grey;
    height:12px;
    width:12px;
    margin-right:3px;
}
.blokje1{
    display:block;
    border:1px solid grey;
    height:12px;
    width:12px;
    margin-left:1px;
}
.vierkant{
    display:inline-block;
    width:34px;
    height:25px;
}
.cirkel{
    display:inline-block;
}
.achtergrond{
    background-color:#896019;
    text-align: center;
}
#antwoord1{
    margin-left:30px;
}
.colorkeuze{
    position:absolute;
    background-color:#3F2F4D;
    width:158px;
    top:350px;
    right:350px;
}
.buttonrondje{
    width:50px;
    height:50px;
    border-radius:50%;
}
#buttonRed{
    background-color:red;
}
#buttonBlue{
    background-color:blue;
}
#buttonGreen{
    background-color:green;
}
#buttonPurple{
    background-color:purple;
}
#buttonBlack{
    background-color:black;
}
#buttonYellow{
    background-color:yellow;
}
#buttoncheck{
    width:158px;
}